<div class="main-container" *ngIf="showApp">
  <header class="header">
    <div class="branding">
      <a href="#" class="title">
        College Portal
      </a>
    </div>
    <div class="header-nav">
      <a class="active nav-link nav-text">Home</a>
    </div>
  </header>
  <div class="content-container" style="margin-left: 26rem; margin-top: 5rem;">
    <div class="content-area">
      <h1>Login</h1>

      <form clrForm [formGroup]="form" (ngSubmit)="submit('dashboard')">
        <clr-input-container>
          <label>Email</label>
          <input clrInput formControlName="email" type="email" />
          <clr-control-error *clrIfError="'email'">Email Invalid</clr-control-error>
        </clr-input-container>

        <clr-password-container>
          <label>Password</label>
          <input clrPassword formControlName="password" type="password" />
          <clr-control-error *clrIfError="'required'">Password Required</clr-control-error>
        </clr-password-container>

        <button class="btn" >Login</button>
      </form>
    </div>
  </div>
</div>

<router-outlet *ngIf="!showApp"></router-outlet>