
<div class="clr-row">
    <div class="clr-col-lg-6 clr-col-12">
      <div class="card">
        <div class="card-header">
          Account Information
        </div>
        <div class="card-block">
          <div class="card-media-block">
            <img src="https://via.placeholder.com/60?text=Image" class="card-media-image" />
            <div class="card-media-description">
              <span class="card-media-title">
                Name
              </span>
              <span class="card-media-text">
                Mobile
              </span>
              <div class="card-media-text">
                Email
              </div>
            </div>
            
          </div>
          <div class="card-text">
            <button class="btn btn-sm btn-primary">Edit Profile</button>
          </div>
        </div>
        
      </div>
    </div>
  </div>
